{
  "name": "Example Issuer",
  "url": "https://example.org",
  "email": "issuer@example.org",
  "description": "Example Issuer Description",
  "telephone": "",
  "imagePath": "",
  "publicKey": "",
  "privateKey": ""
}
